# 请将伪静态规则或自定义Apache配置填写到此处
location /static/ {
    alias /www/wwwroot/CManager/staticfiles/;
    expires 30d;
    add_header Cache-Control "public, max-age=2592000";
}

location /media/ {
    alias /www/wwwroot/CManager/media/;
    expires 30d;
    add_header Cache-Control "public, max-age=2592000";
}